<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="main.main.professor101">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SuggestionShow"></activity>
        <activity android:name=".Nav_pom" />
        <activity android:name=".Nav_rank" />
        <activity android:name=".Nav_evaluate" />
        <activity android:name=".Nav_101" />
        <activity android:name=".Mainmenu" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SuggestionActivity" />
        <activity android:name=".CommentActivity" />
        <activity android:name=".WriteSuggestionActivity" />
        <activity android:name=".Produce101Activity" />
        <activity android:name=".MonthOfProfessorActivity" />
        <activity android:name=".RankingActivity" />
    </application>

</manifest>